body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#game {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
header {
  position: absolute;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: default;
  align-items: center;
  z-index: -1;
}
#score {
  position: absolute;
  left: 95%;
}

#start {
  cursor: pointer;
  text-align: center;
}

#chaser,
#escaper,
#blocker {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
